.container {
    display: flex;
    flex-direction: column;
    background-color: #2d333b;
    height: 100%;
    width: 75%;
    margin-bottom: 16px;
    margin-left: 16px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.title {
    font-size: 36px;
    color: #d7d7d7;
}
p {

}